
<div class="row bio-column">
    <div class="col-xs-12 col-sm-6 col-md-12">
        <div class="bio-box">
            <a href="/" class="home-link">
                <div class="hobo-egg">
                    <img src="/assets/hobo_egg_100px.png">
                </div>
                <h1>Imperium</h1>
            </a>
            <p>
                Chamber of Aspects
            </p>
            <p>
                Alliance
            </p>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-12">
        <ul class="list-group">
            <li class="list-group-item">
                {% include custom-search.html %}
            </li>
            <li class="list-group-item">
                <a href="http://eu.battle.net/wow/en/guild/chamber-of-aspects/Imperium/">
                    Battle.net
                </a>
            </li>
            <li class="list-group-item">
                <a href="https://www.wowprogress.com/guild/eu/chamber-of-aspects/Imperium">
                    WoWProgress
                </a>
            </li>
        </ul>
    </div>
</div>

