
<div class="row bio-column">
    <div class="col-xs-12 col-sm-6 col-md-12">
        <div class="bio-box">
            <a href="/" class="home-link">
                <div class="hobo-egg">
                    <img src="/assets/hobo_egg_100px.png">
                </div>
                <h1>Imperium</h1>
            </a>
            <p>
                Chamber of Aspects
            </p>
            <p>
                Alliance
            </p>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-12">
        <ul class="list-group">
            <li class="list-group-item">
                <a href="https://eu.battle.net/forums/en/wow/topic/17613791787">
                    Recruitment forum post
                </a>
            </li>
            <li class="list-group-item">
                <a href="http://eu.battle.net/wow/en/guild/chamber-of-aspects/Imperium/">
                    Battle.net profile
                </a>
            </li>
            <li class="list-group-item">
                <a href="https://www.warcraftlogs.com/guilds/162479">
                    Warcraft Logs
                </a>
            </li>
            <li class="list-group-item">
                <a href="https://www.wowprogress.com/guild/eu/chamber-of-aspects/Imperium">
                    WoWProgress
                </a>
            </li>
            <li class="list-group-item text-center">
                <a href="https://www.wowprogress.com/guild/eu/chamber-of-aspects/Imperium">
                    <img src="https://wowprogress.com/guild_img/1312727/out/type.site" border="0">
                </a>
            </li>
        </ul>
    </div>
</div>

